 body {
   text-align: center;
   margin: 0;
   color: #F9F9F9;
 }

 h1 {
   margin-top: 50px;
   margin: 0 auto 0 auto;
   width: 30%;
   color: #66BFBF;
   padding-top: 100px;
   font-family: cursive;
   font-size: 30px;
   line-height: 100px;
 }

 h2 {
   font-family: cursive;
   font-size: 2rem;
   color: #66BFBF;

 }

 h3 {
   color: #66BFBF;
 }

 .top-container {
   background-color: #EAF6F6;
   position: relative;
   height: 750px;
 }
 .middle-container{
   margin-top:100px;
 }

 .bottom-container {
   background-color: #66BFBF;

   margin: 20px 0 0 0;
   padding:20px 20px 20px 20px;

 }

 .top-cloud {
   position: absolute;
   right: 250px;
   top: 50px;
 }

 .bottom-cloud {
   position: absolute;
   left: 300px;
 }

 .mountain {
   top: 200px;
 }

 .images {
   height: 200px;
   border-radius: 100px;
 }

 .images1 {
   width: 25%;
   border-radius: 100px;
   float: left;
   margin-right: 20px;
 }

 .images2 {
   width: 25%;
   border-radius: 100px;
   float: right;
   margin-right: 20px;
 }

 .footer-link {
   color: #11999E;
 }

 .learning {
   font-weight: normal;
   font-family: sans-serif;
 }

 .skill-row {
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 3;
 }

 p {
   color: #40514E;
 }

 hr {
   border-style: dotted none none none;
   width: 5%;
   border-width: 10px;
   color: #EAF6F6;
   margin:100px auto;
 }

 .footer-link{
   color:#11999E;
   font-family: cursive;
   margin: 10px 20px 10px 20px;
   text-decoration:none;
 }
 .footer-link:hover{
   color:#EAF6F6;
 }
 .btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 23px;
    font-weight: 100;
    padding: 1px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
